@model Fullbar.Olympus.Dominio.Entidade.UsuarioInscricao

@{
    Layout = null;
}

<html>
<head>
    <title>OLYMPUS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
        body {
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            color: #697B89;
        }
    </style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color:#697B89;">

    <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td>
                <img src=@Url.Content("~/assets/img/l02-email_01.jpg") width="600" height="320" alt="" style="display:block;">
            </td>
        </tr>
        <tr>
            <!-- -->
            <td>
                <table id="" width="" height="" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img src=@Url.Content("~/assets/img/l02-email_02.jpg") width="49" height="33" alt="" style="display:block;">
                        </td>
                        <td>
                            <img src=@Url.Content("~/assets/img/l02-email_03.jpg") width="502" height="33" alt="" style="display:block;">
                        </td>
                        <td>
                            <img src=@Url.Content("~/assets/img/l02-email_04.jpg") width="49" height="33" alt="" style="display:block;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr><!-- -->

        <tr>
            <!-- -->
            <td>
                <table bgcolor="#FFFFFF" id="" width="" height="" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="49" height="38"></td>
                        <td>
                            <table bgcolor="#FFFFFF" id="" width="" height="" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="43" height="30">
                                        <img src=@Url.Content("~/assets/img/ico-title.jpg") width="43" height="30" alt="" style="display:block;">
                                    </td>
                                    <td width="502" style="font-size:18px;">
                                        <p>@Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto1, </font><strong><font color="#0D4DA1">@Model.Nome</font></strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="43" height="30"></td>
                                    <td width="502" style="font-size:14px;">
                                        <p>
                                            <br />
                                            @Html.Raw(@Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto2)
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="49" height="38"></td>
                    </tr>
                </table>
            </td>
        </tr><!-- -->


        <tr>
            <!-- risco -->
            <td align="center">
                <img src=@Url.Content("~/assets/img/risco.jpg") width="550" height="64" alt="" style="display:block;">
            </td>
        </tr><!-- /risco -->


        <tr>
            <!-- -->
            <td>
                <table bgcolor="#FFFFFF" id="" width="" height="" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="49" height="38"></td>
                        <td>
                            <table bgcolor="#FFFFFF" id="" width="" height="" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="43" height="30"></td>
                                    <td width="502" style="font-size:15px;">

                                        @Html.Raw(@Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto3)

                                    </td>
                                </tr>
                                <tr>
                                    <td width="43" height="30"></td>
                                    <td width="502" style="font-size:14px;">
                                        <table id="" width="" height="" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="115">
                                                    <p>@Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto4:</p>
                                                </td>
                                                <td width="340">
                                                    <p>@Model.Nome</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>CPF:</p>
                                                </td>
                                                <td>
                                                    <p>@Model.CPF</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>CNPJ:</p>
                                                </td>
                                                <td>
                                                    <p>@Model.CNPJ</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="49" height="38"></td>
                    </tr>
                </table>
            </td>
        </tr><!-- -->


        <tr>
            <!-- risco -->
            <td align="center">
                <img src=@Url.Content("~/assets/img/risco.jpg") width="550" height="64" alt="" style="display:block;">
            </td>
        </tr><!-- /risco -->


        <tr>
            <!-- -->
            <td>
                <table bgcolor="#FFFFFF" id="" width="" height="" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="49" height="38"></td>
                        <td>
                            <table bgcolor="#FFFFFF" id="" width="" height="" border="0" cellpadding="0" cellspacing="0">

                                <tr>
                                    <td width="43" height="30"></td>
                                    <td width="502">
                                        <p style="font-size:14px;">

                                           @Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto5 @Model.Data, @Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto6<br/> <strong>@Model.Endereco</strong>
                                            <strong>@Model.Bairro - @Model.Cidade, @Model.UF .</strong>
                                            <br /><br />
                                        </p>
                                        <p style="font-size:13px;">
                                            @Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto7.
                                            <br /><br />
                                        </p>
                                        <p style="font-size:15px;">
                                            <strong>@Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto8.</strong>
                                            <br /><br /><br />
                                        </p>

                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="49" height="38"></td>
                    </tr>
                </table>
            </td>
        </tr><!-- -->


        <tr bgcolor="#E9E9E9">
            <!-- -->
            <td>
                <table id="" width="" height="90" border="0" cellpadding="0" cellspacing="0">
                    <tr style="font-size:12px;">
                        <td width="30"></td>
                        <td width="300">
                            <p>
                             
                                @Html.Raw(@Fullbar.Olympus.MVC.Resource.PaginaMeusTreinamentosExportarInscricaoTexto9)

                            </p>
                        </td>
                        <td width="229" style="text-align:right">
                            E-mail: <strong> @Model.Contato</strong>
                        </td>
                        <td width="1"></td>
                    </tr>
                </table>
            </td>
        </tr><!-- -->

    </table>

</body>
</html>