

@{
    ViewBag.Title = "InscricaoPendente";
    var treinamentoDetalhe = (Fullbar.Olympus.Dominio.Entidade.TreinamentoDetalhe)ViewBag.TreinamentoDetalhe;
 }

<div class="col-md-9 pad-top-40 conteudo">
    <div class="col-md-12 title-geral">
        <p><span><img class="" src=@Url.Content("~/assets/img/ico-title.png") alt=""></span>@ViewBag.Treinamento</p>
    </div>

    @if (treinamentoDetalhe.idDivisao == 3)
    {
        <div class="col-md-12 pad-top-20 title-geral title-cadastro result-inscri">        
            <p><span><img class="" src=@Url.Content("~/assets/img/ico-inscri-espera.png") alt=""></span>@Fullbar.Olympus.MVC.Resource.TreinamentoInscricaoEmAnalise</p>
        </div>
        <div class="col-md-12 pad-top-30 inscr-confirma-text">
            @Html.Raw(Fullbar.Olympus.MVC.Resource.TreinamentoInscricaoEmAnaliseTexto) 
        </div>
    }
    else
    {
        <div class="col-md-12 pad-top-20 title-geral title-cadastro result-inscri">        
            <p><span><img class="" src=@Url.Content("~/assets/img/ico-inscri-espera.png") alt=""></span>@Fullbar.Olympus.MVC.Resource.TreinamentoInscricaoPendente</p>
        </div>
        <div class="col-md-12 pad-top-30 inscr-confirma-text">
            @Html.Raw(Fullbar.Olympus.MVC.Resource.TreinamentoInscricaoSuaInscricao) 
        </div>
    }


    <div class="col-md-12 pad-top-30 text-center">


        @if (ViewBag.dsPesquisa != string.Empty)
        {
            @*<p><input type="submit" name="finalizar" value="Download" class="btn btn-lg btn-primary btn-amarelo" role="button" id=""></p>*@
            <p><a class="btn btn-lg btn-primary btn-amarelo" href="@ViewBag.CaminhoAdmin/assets/file/pesquisa/@ViewBag.dsPesquisa" role="button" target="_blank">Download</a></p>
        }

        
    </div>
   
</div>


@section Scripts {

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src=@Url.Content("~/assets/js/Mapa.js")></script>

    <script type="text/javascript">

        $(document).ready(function () {

            Initialize();

            $('#ulMenu > li').each(function () {

                $(this).removeClass('active');

            });

            $('#liTreinamento').addClass('active');

        });


    </script>


    <script>
            $(document).ready(function () {
                var qtd = $(".carousel-inner > .item").size()
                if (qtd <= 1) {
                    $(".esconde-seta").hide();
                }

            });
    </script>


    <script>
            $(function($) {

                $(".knob").knob({
                    change : function (value) {
                        //console.log("change : " + value);
                    },
                    release : function (value) {
                        //console.log(this.$.attr('value'));
                        console.log("release : " + value);
                    },
                    cancel : function () {
                        console.log("cancel : ", this);
                    },
                    /*format : function (value) {
                        return value + '%';
                    },*/
                    draw : function () {

                        // "tron" case
                        if(this.$.data('skin') == 'tron') {

                            this.cursorExt = 0.3;

                            var a = this.arc(this.cv)  // Arc
                                , pa                   // Previous arc
                                , r = 1;

                            this.g.lineWidth = this.lineWidth;

                            if (this.o.displayPrevious) {
                                pa = this.arc(this.v);
                                this.g.beginPath();
                                this.g.strokeStyle = this.pColor;
                                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                                this.g.stroke();
                            }

                            this.g.beginPath();
                            this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                            this.g.stroke();

                            this.g.lineWidth = 2;
                            this.g.beginPath();
                            this.g.strokeStyle = this.o.fgColor;
                            this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                            this.g.stroke();

                            return false;
                        }
                    }
                });

                // Example of infinite knob, iPod click wheel
                var v, up=0,down=0,i=0
                    ,$idir = $("div.idir")
                    ,$ival = $("div.ival")
                    ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                    ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };
                $("input.infinite").knob(
                                    {
                                    min : 0
                                    , max : 20
                                    , stopper : false
                                    , change : function () {
                                                    if(v > this.cv){
                                                        if(up){
                                                            decr();
                                                            up=0;
                                                        }else{up=1;down=0;}
                                                    } else {
                                                        if(v < this.cv){
                                                            if(down){
                                                                incr();
                                                                down=0;
                                                            }else{down=1;up=0;}
                                                        }
                                                    }
                                                    v = this.cv;
                                                }
                                    });
            });
    </script>

    <script>

    $(function () {

        /*====== Verifica Mensagem de retorno*/

        var mensagem = $('input[name="mensagem"]').val();

        if (mensagem != '') {

            var titulo = $('input[name="mensagemTitulo"]').val();

            //alerta(mensagem, titulo);
        }
    });

    </script>



}