@model Admin.Olympus.Dominio.Entidade.Treinamento

@{
    /* RESOURCE */

    //Arquivo de Resource
    string arquivoResource = (string)Session["ArquivoResource"];

    //Idioma
    string idioma = (string)Session["CultureIdioma"];
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo(idioma);

    //Tipo de Perfil (idIdioma)
    var usuario = (Admin.Olympus.Dominio.Entidade.Administrador)Session["Administrador"];
    int idIdioma = usuario.idTipo;
}

<!-- TÍTULO -->
<div class="row">
    <div class="col-lg-12">
        @Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoAlterarEventoBrasilTitulo", @ci))
    </div>
</div>

<!-- CONTEÚDO -->
<div class="row">
    <div class="col-lg-12">

        <!-- FORM -->
        @using (Html.BeginForm("EditarInternacional", "Treinamento", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        { 
            @Html.HiddenFor(x => x.idTreinamento)
            
            <div class="row">
                <div class="col-lg-12">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoEventoSite", @ci)):</label>
                </div>
            </div>           
            
            <div class="row">
                
                <div class="col-lg-4">
                    @Html.CheckBoxFor(x => x.btSiteOBL, new { @class = "checkbox-inline"})
                    <label style="font-weight: normal;">@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarInternacionalSiteOBL", @ci))</label>
                </div>
                <div class="col-lg-4">
                    @Html.CheckBoxFor(x => x.btSiteOMS, new { @class = "checkbox-inline" })
                    <label style="font-weight: normal;">@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarInternacionalSiteOMS", @ci))</label>
                </div>
                <div class="col-lg-4">
                    @Html.CheckBoxFor(x => x.btSiteOLA, new { @class = "checkbox-inline" })
                    <label style="font-weight: normal;">@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarInternacionalSiteOLA", @ci))</label>
                </div>
            </div>
            
            <br class="clear" />
            <h4><strong>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarTreinamentoDados", @ci))</strong></h4>
            <hr />
            
            <div class="row">
                <div class="col-lg-6">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoEventoDivisao", @ci))</label><br />
                    @Html.DropDownListFor(x => x.idDivisao, (IEnumerable<SelectListItem>)ViewBag.Divisao, new { @class = "form-control" })
                </div>
                <div class="col-lg-6">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoEventoCategoria", @ci))</label><br />
                    @Html.DropDownListFor(x => x.idCategoria, (IEnumerable<SelectListItem>)ViewBag.Categoria, "--", new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
            <div class="row">
                <div class="col-lg-6">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoNome", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsNome, new { @class = "form-control" })
                </div>            
                <div class="col-lg-6">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoCodigo", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsCodigoTreinamento, new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
            <div class="row">
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoEventoData", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsInicio, new { @class = "form-control", @placeholder = "99/99/9999" })
                </div>
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoDtHoraInicio", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsHoraInicio, new { @class = "form-control", @placeholder = "99:99" })
                </div>
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoDtHoraTermino", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsHoraTermino, new { @class = "form-control", @placeholder = "99:99" })
                </div>
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoTotalVagas", @ci))</label><br />
                    @Html.TextBoxFor(x => x.inQuantidadeVagas, new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
            <div class="row">
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoInscricaoDtInicio", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsInscInicio, new { @class = "form-control", @placeholder = "99/99/9999" })
                </div>
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoInscricaoDtFim", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsInscFim, new { @class = "form-control", @placeholder = "99/99/9999" })
                </div>
            </div>
            <br class="clear" />
            <div class="row">
                <div class="col-lg-12">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoURL", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsUrlInscricao, new { @class = "form-control" })
                </div>
            </div>
            
            <br class="clear" />
            <div class="row">
                <div class="col-lg-12">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoDescricao", @ci))</label><br />
                    @Html.TextAreaFor(x => x.dsDescricao, new { @class = "form-control", @style = "resize: none; height: 100px;" })
                </div>
            </div>
            
            <br class="clear" />
            <br class="clear" />
            <h4><strong>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarTreinamentoLocalizacao", @ci))</strong></h4>
            <hr />
            
            <div class="row">
                <div class="col-lg-12">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoLocal", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsLocal, new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
            <div class="row">
                <div class="col-lg-8">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoEndereco", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsEndereco, new { @class = "form-control" })
                </div>
                <div class="col-lg-4">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoNumero", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsNumero, new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
            <div class="row">
                <div class="col-lg-8">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoBairro", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsBairro, new { @class = "form-control" })
                </div>
                <div class="col-lg-4">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoCEP", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsCEP, new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
            <div class="row">
                <div class="col-lg-4">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoCidade", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsCidade, new { @class = "form-control" })
                </div>
                <div class="col-lg-4">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoEstado", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsUF, new { @class = "form-control" })
                </div>
                <div class="col-lg-4">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoPais", @ci))</label><br />
                    @Html.DropDownListFor(x => x.dsPais, (IEnumerable<SelectListItem>)ViewBag.Pais, new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
            
            <br class="clear" />
            <h5>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoGoogleMaps", @ci))</h5>
            
            <div class="row">
                <div class="col-lg-6">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoLatitude", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsLatitude, new { @class = "form-control" })
                </div>
                <div class="col-lg-6">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "TreinamentoCadastrarCampoLongitude", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsLongitude, new { @class = "form-control" })
                </div>
            </div>
            <br class="clear" />
        
            <div class="col-lg-4">
                <label><br /></label><br />
                <input type="submit" class="btn btn-primary" value="@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "BotaoSalvar", @ci))">
            </div>

            <br class="clear" />
            <br class="clear" />
            <br class="clear" />
            <br class="clear" />
        } 
        <!-- FIM FORM -->
    </div>
</div>

<script>

    $(function () {

        $("#dsInicio").mask("99/99/9999");
        $("#dsTermino").mask("99/99/9999");
        $("#dsHoraInicio").mask("99:99");
        $("#dsHoraTermino").mask("99:99");

        $("#dsInscInicio").mask("99/99/9999");
        $("#dsInscFim").mask("99/99/9999");

        $("#dsCEP").mask("99999-999");
        @*alert('@Model.btSiteOBL.ToString().ToLower()');
        document.getElementById("btSiteOBL").checked = '@Model.btSiteOBL.ToString().ToLower()';
        document.getElementById("btSiteOMS").checked = '@Model.btSiteOMS.ToString().ToLower()';
        document.getElementById("btSiteOLA").checked = '@Model.btSiteOLA.ToString().ToLower()';*@
    });

</script>