@model Admin.Olympus.Dominio.Entidade.FaleConosco

@{
    /* RESOURCE */

    //Arquivo de Resource
    string arquivoResource = (string)Session["ArquivoResource"];

    //Idioma
    string idioma = (string)Session["CultureIdioma"];
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo(idioma);

    //Tipo de Perfil (idIdioma)
    var usuario = (Admin.Olympus.Dominio.Entidade.Administrador)Session["Administrador"];
    int idIdioma = usuario.idTipo;
}

<!-- TÍTULO -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACTitulo", @ci))
            <p style="line-height: 0.7;">
                <span style="font-size: 18px">@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACSubTitulo", @ci)</span>
            </p>
        </h1>
    </div>
</div>

<!-- CONTEÚDO -->
<div class="row">
    <div class="col-lg-12">

        <!-- FILTROS -->
        @using (Html.BeginForm("Index", "FaleConosco", FormMethod.Post))
        {
            <!-- FORM -->
            <div class="row">
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACNome", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsNomeCompleto, new { @class = "form-control" })
                </div>

                @if (idIdioma == 1)
                { 
                    <!--OBL-->
                    <div class="col-lg-3">
                        <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACPais", @ci))</label><br />
                        @Html.DropDownListFor(x => x.dsContato, (IEnumerable<SelectListItem>)ViewBag.Pais, new { @class = "form-control" })
                    </div>
                }
                else
                {
                    <!--OMS e OLA-->
                    @Html.HiddenFor(x => x.dsContato)
                }
                
                <div class="col-lg-3">
                    <label>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACInstituicao", @ci))</label><br />
                    @Html.TextBoxFor(x => x.dsInstituicao, new { @class = "form-control" })
                </div>
                <div class="col-lg-3">
                    <label><br /></label><br />
                    <input type="submit" class="btn btn-primary" value="@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "BotaoFiltrar", @ci))">
                </div>
            </div>
            <br class="clear" />
            <!-- FIM FORM -->
        }
        <!-- FILTROS -->


        <br class="clear" />
        <br class="clear" />

        <!-- GRID USUÁRIOS -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACRelatorioTitulo", @ci))
                </h4>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <th>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACNome", @ci))</th>
                                <th>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACCPF", @ci))</th>
                                <th>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACEmail", @ci))</th>
                                <th>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACAssunto", @ci))</th>
                                <th>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACMensagem", @ci))</th>
                                <th>@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "SACData", @ci))</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.FaleConosco != null)
                            {
                                if (ViewBag.FaleConosco.Count > 0)
                                {
                                    foreach (Admin.Olympus.Dominio.Entidade.FaleConosco item in ViewBag.FaleConosco)
                                    {
                                        <tr class="odd gradeX">
                                            <td>@item.dsNomeCompleto</td>
                                            <td>@item.dsCPF</td>
                                            <td>@item.dsEmail</td>
                                            <td>@item.dsAssunto</td>
                                            <td>@item.dsMensagem</td>
                                            <td>@item.dtCadastro</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="well">

                    @using (Html.BeginForm("FaleConoscoExcel", "FaleConosco", FormMethod.Get))
                    {
                        @Html.HiddenFor(x => x.dsNomeCompleto)
                        @Html.HiddenFor(x => x.dsInstituicao)
                        @Html.HiddenFor(x => x.dsContato)

                        <input type="submit" id="btnExcel" class="btn btn-default btn-lg btn-block" value="@Html.Raw(@HttpContext.GetGlobalResourceObject(@arquivoResource, "BotaoExcel", @ci))" />
                    }
                </div>
            </div>

        </div>
        <!-- FIM - GRID USUÁRIOS -->

        <br class="clear" />

    </div>
</div>

<script>

    $(function () {
            
        $(".dsCPF").mask("999.999.999-99");
        
    });

</script>