@model Fullbar.Olympus.MVC.Models.UsuarioCadastroViewModel


@{
    ViewBag.Title = @Fullbar.Olympus.MVC.Resource.PaginaCadastro;
}


<div class="col-md-9 pad-top-40 conteudo">

    @using (Html.BeginForm("Index", "Cadastro", FormMethod.Post, new { id = "formCadastro" }))
    {

        @Html.AntiForgeryToken()

        <fieldset>

            <div class="col-md-12 title-geral title-cadastro">
                <p><span><img class="" src=@Url.Content("~/assets/img/ico-title.png") alt=""></span>@Fullbar.Olympus.MVC.Resource.PaginaCadastroNacionalidade</p>
            </div>


            <div class="col-md-12">
                <div>
                    <input type="radio" name="NacionalidadeBrasileira" /> @Fullbar.Olympus.MVC.Resource.NacionalidadeBrasileiro
                </div>
                <div>
                    <input type="radio" name="NacionalidadeOutros" /> @Fullbar.Olympus.MVC.Resource.NacionalidadeOutros
                </div>
                <div id="Pais" style="display:none">
                   @Fullbar.Olympus.MVC.Resource.PaginaCadastroPais*  @Html.DropDownListFor(x => x.idPais, (IEnumerable<SelectListItem>)ViewBag.Pais, new { @class = "inp-contato" }) 
                </div>
            </div>

            <div class="col-md-12 pad-top-20">
                <hr />
            </div>

            <div class="hide-cadastro">
                <div class="col-md-12 title-geral-cadastro">
                    <p><span><img class="" src=@Url.Content("~/assets/img/ico-title.png") alt=""></span>@Fullbar.Olympus.MVC.Resource.PaginaCadastroInformacaoPessoal</p>
                </div>

                <!-- ------- BRASILEIRO -------- -->
                <div id="brasileria" style="display:none">
                    <div class="col-md-12">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroNome*
                        </div>
                        <div class="">
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control inp-contato", @onkeypress = "return Onlychars(event)" })
                        </div>
                    </div>

                    <div class="col-md-12 zera-pad pad-top-10">
                        <div class="col-md-6">
                            <div>
                                CPF *
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.CPF, new { @class = "form-control inp-contato" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 zera-pad pad-top-10">
                        <div class="col-md-6 pad-top-mobile">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroTelefone*
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control inp-contato", placeholder = "(_) _____-____" })
                            </div>
                        </div>
                        <div class="col-md-6 pad-top-mobile">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroTelefoneCelular*
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.Celular, new { @class = "form-control inp-contato", placeholder = "(_) _____-____" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 zera-pad pad-top-10">
                        <div class="col-md-6">
                            <div>
                                E-mail*
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.EmailCadastro, new { @class = "form-control inp-contato" })
                            </div>
                        </div>
                        <div class="col-md-6 pad-top-mobile">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroConfirmaEmail*
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.ConfirmaEmail, new { @class = "form-control inp-contato" })

                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 zera-pad pad-top-10">
                        <div class="col-md-6">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroSenha*
                            </div>
                            <div>
                                @Html.PasswordFor(model => model.Senha, new { @class = "form-control inp-contato " })
                            </div>
                        </div>
                        <div class="col-md-6 pad-top-mobile">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroConfirmaSenha*
                            </div>
                            <div>

                                @Html.PasswordFor(model => model.ConfirmaSenha, new { @class = "form-control inp-contato" })
                            </div>
                        </div>
                    </div>
                                    <div class="col-md-12 pad-top-30">
                    <hr />
                </div>

                <div class="col-md-12 pad-top-10 title-geral-cadastro">
                    <p><span><img class="" src=@Url.Content("~/assets/img/ico-title.png") alt=""></span>@Fullbar.Olympus.MVC.Resource.PaginaCadastroInformacaoProfissional</p>
                </div>                


                <div class="col-md-12 pad-top-15">
                    @Html.Raw(Fullbar.Olympus.MVC.Resource.PaginaCadastroQualConselho)
                               <br />        

                    <input type="radio" name="TituloProfissional" class="pad-radio" id="coren" value="COREN" /> COREN
                    <input type="radio" name="TituloProfissional" class="pad-radio" id="crm" value="CRM" /> CRM
                    <input type="radio" name="TituloProfissional" class="pad-radio" id="crea" value="CREA" /> CREA

                    <input type="radio" name="TituloProfissional" class="pad-radio" id="outros" value="" /> @Fullbar.Olympus.MVC.Resource.PaginaCadastroOutros
                    <input type="text" name="TituloProfissionalOutros" class="inp-contato" style="display:none" />

                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    <div class="col-md-6">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroNumeroConselho
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.NumeroConselho, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                    <div class="col-md-6 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroEspecialidade
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Especialidade, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    <div class="col-md-6">
                        <div id="CNPJBrasileiro">
                            CNPJ*
                        </div>
                        <div id="CNPJOutros" style="display:none">
                            CNPJ
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.CNPJ, new { @class = "form-control inp-contato", @name="NacionalidadeOutros" })
                        </div>

                    </div>
                    <div class="col-md-6 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroNomeInstituicao*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.NomeInstituicao, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    <div class="col-md-3">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroCepInstituicao*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Cep, new { @class = "form-control inp-contato" })

                        </div>
                    </div>
                    <div class="col-md-5 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroEndereco*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Endereco, new { @class = "form-control inp-contato" })

                        </div>
                    </div>


                    <div class="col-md-2 pad-top-mobile">
                        <div>
                            N&ordm;*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Numero, new { @class = "form-control inp-contato" })

                        </div>
                    </div>

                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    <div class="col-md-6">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroBairro*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                    <div class="col-md-4  pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroCidade*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control inp-contato", @onkeypress = "return Onlychars(event)" })

                        </div>
                    </div>
                    <div class="col-md-2 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroUF*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.UF, new { @class = "form-control inp-contato", @onkeypress = "return Onlychars(event)", @maxlength = "2" })
                        </div>
                    </div>
                </div>
                </div>
                <!-- ------- /BRASILEIRO -------- -->
                <!-- ------- ESTRANGEIRO -------- -->

                <div id="estrangeiro" style="display:none">
                    <div class="col-md-12 zera-pad pad-top-10">
                        <div class="col-md-6">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroNome*
                            </div>
                            <div class="">
                                @Html.TextBoxFor(model => model.NomeEstrangeiro, new { @class = "form-control inp-contato" })
                            </div>
                        </div>
                        <div class="col-md-6 pad-top-mobile">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroTelefone*
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.TelefoneEstrangeiro, new { @class = "form-control inp-contato" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 zera-pad pad-top-10">
                        <div class="col-md-6">
                            <div>
                                E-mail*
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.EmailCadastroEstrangeiro, new { @class = "form-control inp-contato" })
                            </div>
                        </div>
                        <div class="col-md-6 pad-top-mobile">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroConfirmaEmail*
                            </div>
                            <div>
                                @Html.TextBoxFor(model => model.ConfirmaEmailEstrangeiro, new { @class = "form-control inp-contato" })

                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12 zera-pad pad-top-10">
                        <div class="col-md-6">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroSenha*
                            </div>
                            <div>
                                @Html.PasswordFor(model => model.SenhaEstrangeiro, new { @class = "form-control inp-contato" })
                            </div>
                        </div>
                        <div class="col-md-6 pad-top-mobile">
                            <div>
                                @Fullbar.Olympus.MVC.Resource.PaginaCadastroConfirmaSenha*
                            </div>
                            <div>
                                @Html.PasswordFor(model => model.ConfirmaSenhaEstrangeiro, new { @class = "form-control inp-contato" })

                            </div>
                        </div>
                    </div>
                                    <div class="col-md-12 pad-top-30">
                    <hr />
                </div>

                <div class="col-md-12 pad-top-10 title-geral-cadastro">
                    <p><span><img class="" src=@Url.Content("~/assets/img/ico-title.png") alt=""></span>@Fullbar.Olympus.MVC.Resource.PaginaCadastroInformacaoProfissional</p>
                </div>                


                <div class="col-md-12 pad-top-15">
                    @Html.Raw(Fullbar.Olympus.MVC.Resource.PaginaCadastroQualConselho)
                               <br />        

                    <input type="radio" name="TituloProfissional" class="pad-radio" id="Dr" value="Dr" /> Dr
                    <input type="radio" name="TituloProfissional" class="pad-radio" id="Enf" value="Enf" /> Enf
                    <input type="radio" name="TituloProfissional" class="pad-radio" id="Ing" value="Ing" /> Ing
                    <input type="radio" name="TituloProfissional" class="pad-radio" id="Lic" value="Lic" /> Lic
                    <input type="radio" name="TituloProfissional" class="pad-radio" id="Tec" value="Tec" /> Tec

                    <input type="radio" name="TituloProfissional" class="pad-radio" id="outros" value="" /> @Fullbar.Olympus.MVC.Resource.PaginaCadastroOutros
                    <input type="text" name="TituloProfissionalOutros" class="inp-contato" style="display:none" />

                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    <div class="col-md-6">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroNumeroConselho
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.NumeroConselho, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                    <div class="col-md-6 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroEspecialidade
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Especialidade, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    
                    <div class="col-md-6 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroNomeInstituicao*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.NomeInstituicao, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    <div class="col-md-3">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroCepInstituicao*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Cep, new { @class = "form-control inp-contato" })

                        </div>
                    </div>
                    <div class="col-md-5 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroEndereco*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Endereco, new { @class = "form-control inp-contato" })

                        </div>
                    </div>


                    <div class="col-md-2 pad-top-mobile">
                        <div>
                            N&ordm;*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Numero, new { @class = "form-control inp-contato" })

                        </div>
                    </div>

                </div>

                <div class="col-md-12 zera-pad pad-top-10">
                    <div class="col-md-6">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroBairro*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control inp-contato" })
                        </div>
                    </div>
                    <div class="col-md-4  pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroCidade*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control inp-contato", @onkeypress = "return Onlychars(event)" })

                        </div>
                    </div>
                    <div class="col-md-2 pad-top-mobile">
                        <div>
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroUF*
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.UF, new { @class = "form-control inp-contato", @onkeypress = "return Onlychars(event)", @maxlength = "2" })
                        </div>
                    </div>
                </div>
                </div>

                <!-- ------- /ESTRANGEIRO -------- -->



                <div class="col-md-12 zera-pad pad-top-30">
                    <div class="col-md-12 zera-pad">
                        <div class="col-md-5">
                            @Fullbar.Olympus.MVC.Resource.PaginaCadastroLicencaMedicaEUA                           
                        </div>
                        <div class="col-md-2">
                            <input type="radio" name="radio" id="LicencaMedicaEUASim" /> @Fullbar.Olympus.MVC.Resource.PaginaCadastroLicencaMedicaEUASIM <br /> @*<span id="NumeroEstado" style="display:none; padding-left:20px;"> Nº/ESTADO <input type="text" name="NumeroEstado" /></span>*@
                            <input type="radio" name="radio" id="LicencaMedicaEUANao" checked /> @Fullbar.Olympus.MVC.Resource.PaginaCadastroLicencaMedicaEUANAO
                        </div>
                        <div style="display:none;" id="NumeroEstado" class="col-md-5 zera-pad">
                            <div class="col-md-8">
                                <div>
                                    @Fullbar.Olympus.MVC.Resource.PaginaCadastroLicencaMedicaEUANumero
                                </div>
                                <div>
                                    @Html.TextBoxFor(model => model.NumeroLicencaMedicaEUA, new { @class = "form-control inp-contato" })
                                </div>
                            </div>
                            <div class="col-md-4 pad-top-mobile">
                                <div>
                                    @Fullbar.Olympus.MVC.Resource.PaginaCadastroLicencaMedicaEUAEstado
                                </div>
                                <div>

                                    @Html.TextBoxFor(model => model.Estado, new { @class = "form-control inp-contato" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 pad-top-30">
                    <hr />
                </div>

                <div class="col-md-12 pad-top-20">
                    <input type="checkbox" class="selec-cadastro" id="chkInformacaoVerdadeira" />
                    @Fullbar.Olympus.MVC.Resource.PaginaCadastroInformacaoVerdadeira
                </div>

                <div class="col-md-12 qd-cadastrp-regulamento esconde-cadastro">

                    @Html.Raw(@Fullbar.Olympus.MVC.Resource.PaginaCadastroTermosCondicao)

                    <div class="pad-top-20">
                        @Html.EditorFor(model => model.Regulamento)
                        @Fullbar.Olympus.MVC.Resource.PaginaCadastroAceiteTermo.
                    </div>
                </div>


                <input type="hidden" id="erroCadastro" value="@ViewBag.ErroCadastro" />
                <input type="hidden" id="erroTituloCadastro" value="@ViewBag.ErroCadastroTitulo" />

                <input type="hidden" name="nacionalidade" value="@ViewBag.Nacionalidade" />
                <input type="hidden" name="hdLicencaMedicaEUA" value="@Model.LicencaMedicaEUA" />
                <input type="hidden" name="OutrosTitulosProfissional" value="@Model.TituloProfissionalOutros" />
                <input type="hidden" name="hdTituloProfissional" value="@Model.TituloProfissional" />
                <input type="hidden" name="LicencaMedicaEUA" id="LicencaMedicaEUA" value="@ViewBag.LicencaMedicaEUA" />
                <input type="hidden" name="InformacaoVerdadeira" id="InformacaoVerdadeira" value="@ViewBag.InformacaoVerdadeira" />


                <div class="col-md-12 pad-top-30 text-center">
                    <p>
                        <input type="button" value="@Fullbar.Olympus.MVC.Resource.PaginaCadastroBotaoFinalizar" class="btn btn-lg btn-primary btn-amarelo" role="button" id="btCadastro" />
                    </p>
                </div>
            </div>

        </fieldset>
    }


</div>
@section Scripts {
    
    <script src=@Url.Content("~/assets/js/Cadastro.js")></script>

    <script>
        
        // resp-errada

        $(function () {
            
            $(".resp-errada").removeClass("resp-errada");

            if ("@ViewBag.IDsErros" != "") {

                var str = ("@ViewBag.IDsErros");
                var ids = str.split("#");

                for (i = 0; i < ids.length; i++) {
                    $("#" + ids[i]).addClass("resp-errada");
                }

            }

        });

    </script>
}
